/* Project CSS Source Code by shubhampal.co.in */
body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

#box1 {
    height: 100px;
    width: 100%;
}

#nav1 {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav1 {
    height: 35px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav1-1 {
    height: 35px;
    width: 50%;
    display: flex;
    align-items: center;
}

.nav1-11 {
    height: 35px;
    width: 50%;
    display: flex;
    align-items: center;
}

.nav1-1 img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.nav1-1 p {
    font-size: 13px;
}

.nav1-1 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    margin-left: 250px;
    font-size: 12px;
}

.nav1-1 ul li {
    float: left;
}

.nav1-1 select {
    border-style: none;
    color: blue;
    font-size: 13px;
}

[src="Notech-Website/web.png"] {
    margin-left: 10px;
}

#nav2 {
    height: 65px;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.nav2 {
    height: 65px;
    width: 70%;
    display: flex;
    justify-content: center;
}

.nav2-1 {
    height: 65px;
    width: 15%;
    ;
    display: flex;
    align-items: center;
}

.nav2-1 img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.nav2-1 h1 {
    font-size: 28px;
}

.nav2-2 {
    height: 65px;
    width: 70%;
}

.nav2-2 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    margin-top: 22px;
}

.nav2-2>ul>a {
    text-decoration: none;
    color: black;
}

.nav2-2>ul>li {
    float: left;
    margin: 0px 14px;
}

.nav2-2>ul>li>ul>a {
    text-decoration: none;
    color: black;
}

.nav2-2>ul>li>ul>a>li {
    margin-bottom: 2px;
    background: white;
    text-align: center;
    padding: 10px;
}

.nav2-2>ul>li>ul {
    display: none;
}

.nav2-2>ul>li:hover ul {
    display: block;
}

[src="Notech-Website/search.png"] {
    margin-left: 70px;
}

[src="Notech-Website/navigation.png"] {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0px 0px 1px grey;
}

#box2 {
    height: 240px;
    width: 100%;
    background: url(Notech-Website/typing.png);
    background-size: 100% 100%;

}

.box2 {
    height: 240px;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    color: white;
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.box2 p {
    color: rgb(0, 255, 0);
}

#box3 {
    min-height: 950px;
    width: 100%;
}

#box3-1 {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box3-1 {
    height: 400px;
    width: 35%;
    box-sizing: border-box;
    padding: 30px 20px;
    padding-bottom: 15px;
}

.box3-11 {
    height: 150px;
    width: 100%;
}

.box3-22 {
    height: 220px;
    width: 100%;
}

.box3-22 .sub-box {
    height: 72px;
    width: 100%;

    display: flex;
}

.box3-22 .sub-box1 {
    height: 60px;
    width: 14%;
    background: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3-22 .sub-box .sub-box1 img {
    height: 28px;
    width: 28px;
    background: rgb(214, 214, 214);
}

.box3-22 .sub-box2 {
    height: 72px;
    width: 82%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 15px;
}

.box3-1 p {
    margin: 0px;
    margin-bottom: 10px;
}

.box3-1 p b {
    font-size: 25px;
}

.box3-1 h1 {
    margin: 0px;
    font-size: 30px;
}

.box3-1 img {
    height: 100%;
    width: 90%;
}

#box3-2 {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.box3-2 {
    height: 550px;
    width: 45%;
}

.box3-2 p {
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.box3-2 h1 {
    margin: 0px;
    font-size: 30px;
    text-align: center;
}

.inputbox1 {
    height: 80px;
    width: 47%;
    float: left;
    margin-right: 35px;
    margin-bottom: 25px;
}

.inputbox2 {
    height: 80px;
    width: 47%;
    float: left;
    margin-bottom: 25px;
}

.box3-2 .input1 {
    margin: 0px;
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 5px;
    background: #dfdfdf;
    font-size: 16px;
    border-style: none;
    padding-left: 10px;
}

.box3-2 .input2 {
    margin: 0px;
    height: 50px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 5px;
    background: #dfdfdf;
    font-size: 16px;
    border-style: none;
    padding-left: 10px;
}

.box3-2 textarea {
    margin: 0px;
    height: 120px;
    width: 100%;
    resize: none;
    margin-top: 5px;
    background: #dfdfdf;
    font-size: 16px;
    border-style: none;
    padding-left: 10px;
}

.box3-2 .btn {
    margin: 0px;
    height: 50px;
    width: 25%;
    margin-bottom: 20px;
    margin-top: 5px;
    background: #6653ea;
    color: white;
    font-size: 16px;
    border-style: none;
    padding-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

#box4 {
    height: 400px;
    width: 100%;
}

#box4 iframe {
    height: 400px;
    width: 100%;
    border-style: none;
}

#box5 {
    height: 620px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #1c1525;
    color: white;
}

.box5 {
    height: 620px;
    width: 70%;
}

#box5-1 {
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8d8897;
}

.box-btn1 {
    height: 200px;
    width: 70%;
    display: flex;
    align-items: center;

}

.box-btn2 {
    height: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-btn2 .btn {
    margin: 0px;
    height: 50px;
    width: 160px;
    background: #6653ea;
    color: white;
    font-size: 16px;
    border-style: none;
}

.box-btn1 img {
    height: 80px;
    width: 80px;
    float: left;
}

.box-btn1 p {
    font-size: 20px;
    margin-left: 10px;
}

#box5-2 {
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.box-menu1 {
    height: 400px;
    width: 30%;
    box-sizing: border-box;
}

.box-menu2 {
    height: 400px;
    width: 20%;
    box-sizing: border-box;
}

#box6 {
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    align-items: center;
}

.box6 {
    height: 55px;
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.box6-1 {
    height: 55px;
    width: 50%;
    display: flex;
    background: black;
    color: white;
    align-items: center;
}

.box6-2 {
    height: 55px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 360px;
}

.box6-2 img {
    height: 25px;
    width: 25px;
    margin: 0px 5px;
}

.box-menu1 img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    float: left;
    position: relative;
    top: 10px;
}

.box-menu2 {
    padding-top: 5px;
}

.box-menu1>h1 {
    font-size: 28px;
}

.box-menu1>p {
    margin-top: 25px;
}

.box-menu2 ul {
    list-style: none;
}

.box-menu2 ul>li {
    font-size: 20px;
    font-weight: bold;
}

.box-menu2 ul li {
    margin-top: 20px;
}

.box-menu2 ul a {
    text-decoration: none;
    color: #8d8897;
}

.box-menu1 .last-head {
    font-size: 20px;
    font-weight: bold;
}

.box-menu1 .last-para {
    margin-top: 5px;
}

.box-menu1 .sub-box {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #8d8897;
    box-sizing: border-box;
    display: flex;
}

.box-menu1>.sub-box1 {
    height: 60px;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-menu1>.sub-box .sub-box1 img {
    height: 20px;
    width: 20px;
    filter: invert(100%);
    margin-right: 10px;
    position: relative;
    top: 15px;
}

.box-menu1>.sub-box2 {
    height: 72px;
    width: 82%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 15px;
}

[value="Discover more"] {
    cursor: pointer;
}

/* Project CSS Source Code by shubhampal.co.in | All Rights Reseverd. */